<div class="home">
<header class="header">
  <button class="back-button" (click)="goBack()">Voltar</button>
   <h1 class="header-title">Documentação Técnica</h1>
</header>

<main class="content">
  <p class="description">
    O projeto Urbis possui documentação técnica completa e é Open Source. Conheça mais em:
  </p>
  <div class="button-group">
    <a href="https://docs.urbis.sampa.br" target="_blank" class="button">Docs.Urbis</a>
    <a href="https://github.com/OpenUrbis" target="_blank" class="button"> OpenUrbis (GitHub)</a>
  </div>
</main>
<app-footer></app-footer>
</div>  