<footer class="footer">
  <div class="container-xl container-fluid">

    <h1 class="h1 footer">URBIS'SP</h1>
    <!-- resto do conteúdo do footer -->
    <div class="row first-footer-header">
      <div class="col-md-6">
        <div class="menus text-right mt-5">
          <h2 class="footer-title">
            <a href="https://urbis.sampa.br/pt/" target="_blank" rel="noopener">INÍCIO</a>
          </h2>
          <ul class="footer-links list-unstyled">
            <li><a href="/" i18n>Home</a></li>
            <li><a href="/sobre" i18n>Sobre</a></li>
            <li><a href="https://viabiliza.urbis.sampa.br/sign-up" target="_blank" rel="noopener">Cadastro</a></li>
            <li><a href="mailto:codata@prefeitura.sp.gov.br" target="_blank" rel="noopener">Contato</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="full-width-line"></div>

    <div class="row first-footer-header">
      <div class="col-md-6">
        <div class="menus text-right mt-3">
          <h2 class="footer-title">
            <a href="https://mapa.urbis.sampa.br" target="_blank" rel="noopener">MAPA.URBIS</a>
          </h2>
        </div>
      </div>
    </div>

    <!-- Texto abaixo, ocupando a largura total -->
    <div class="row first-footer-header">
      <div class="col-12">
        <div class="text-description px-1">
          <p>
            Mapa online para uma base de dados espaciais integrada com foco em dados urbanos, destinada a subsidiar o planejamento e a avaliação de políticas públicas pelos órgãos e entes governamentais, e que utiliza tecnologias de manutenção inteligente, com diversas ferramentas de consulta e prospecção, incluindo buscas por geometrias personalizadas, e personalização da exibição.
          </p>
        </div>
      </div>
    </div>

    <div class="full-width-line"></div>

    <div class="row first-footer-header">
      <div class="col-md-6">
        <div class="menus text-right mt-3">
          <h2 class="footer-title">
            <a href="https://viabiliza.urbis.sampa.br/" target="_blank" rel="noopener">VIABILIZA.URBIS</a>
          </h2>
        </div>
      </div>
    </div>
    <div class="text-description px-1">
      <p>
        Totalmente integrado com as pesquisas do Mapa.Urbi, o Viabiliza.Urbis informa para uma determinada área, um conjunto de informações relevantes  para o planejamento e acompanhamento de atividades urbanísticas, como a situação de tombamento, contaminação do solo, preservação ambiental, zoneamento, áreas de risco, alagamentos, faixas não edificáveis entre outras.
      </p>
    </div>

    <!-- Texto abaixo, ocupando a largura total -->
    <div class="row mt-4">
      <div class="col-md-6 col-lg-3">
        <ul class="footer-links list-unstyled">
          <li><a href="https://legislacao.prefeitura.sp.gov.br/leis/lei-16402-de-22-de-marco-de-2016/consolidado" target="_blank" rel="noopener">Lei de
              Parcelamento, Uso e Ocupação do Solo - LPUOS</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3">
        <ul class="footer-links list-unstyled">
          <li><a href="https://legislacao.prefeitura.sp.gov.br/leis/lei-16642-de-09-de-maio-de-2017/consolidado" target="_blank" rel="noopener">Código
              de Obras e Edificações - COE</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3">
        <ul class="footer-links list-unstyled">
          <li><a href="https://urbis.sampa.br/info.urbis" target="_blank">+informações sobre legislação
              urbanística</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3">
        <ul class="footer-links list-unstyled">
          <li><a href="https://urbis.sampa.br/pt/carta-servicos">Carta de Serviços Urbanísticos, ambientais e culturais</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3">
        <ul class="footer-links list-unstyled">
          <li><a href="https://urbis.sampa.br/pt/licencas">Informações sobre licenças emitidas e denúncias</a></li>
        </ul>
      </div>
    </div>

    <div class="full-width-line"></div>

    <div class="row first-footer-header">
      <div class="col-md-6">
        <div class="menus text-right mt-3">
          <h2 class="footer-title">
            <a href="https://dadosabertos.urbis.sampa.br/" target="_blank" rel="noopener">DADOS ABERTOS</a>
          </h2>
        </div>
      </div>
    </div>
    <div class="text-description px-1">
      <p>
        Através da interface amigável do CKAN, os usuários poderão buscar, visualizar, encontrar explicações técnicas,
        de maneira acessível e transparente, assim como baixar dados em formatos abertos, permitindo uma integração
        direta com outras ferramentas e promovendo a reutilização das informações por diversos setores da sociedade,
        incluindo pesquisadores, desenvolvedores e gestores públicos.
      </p>
    </div>

    <div class="full-width-line"></div>

    <div class="row first-footer-header">
      <div class="col-md-6">
        <div class="menus text-right mt-3">
          <h2 class="footer-title">
            <a href="https://docs.urbis.sampa.br/" target="_blank" rel="noopener">DOCS URBIS</a>
          </h2>
        </div>
      </div>
    </div>
    <div class="text-description px-1">
      <p>
        O sistema possui documentação detalhada e é de código aberto, promovendo a colaboração e melhoria contínua.
      </p>
    </div>

    <div class="full-width-line"></div>

    <div class="row first-footer-header">
      <div class="col-md-6">
        <div class="menus text-right mt-3">
          <h2 class="footer-title">
            <a href="https://github.com/OpenUrbis" target="_blank" rel="noopener">OPEN URBIS</a>
          </h2>
        </div>
      </div>
    </div>
    <div class="text-description px-1">
      <p>
        Publicação do projeto no GitHub.
      </p>
    </div>

    <div class="row last-footer text-white">
  <div class="col-6 col-md">
    <h6 class="footer-heading">Prefeitura de São Paulo</h6>
    <ul class="footer-links">
      <li><a href="https://capital.sp.gov.br/agenda-do-prefeito">Agenda do prefeito</a></li>
      <li><a href="https://capital.sp.gov.br/dia-do-prefeito">Dia do Prefeito</a></li>
      <li><a href="https://www.prefeitura.sp.gov.br/cidade/secretarias/comunicacao/organizacao/index.php?p=192554">Conheça a equipe de governo</a></li>
      <li><a href="https://capital.sp.gov.br/subprefeitura">Subprefeituras</a></li>
      <li><a href="https://capital.sp.gov.br/secretarias">Secretarias</a></li>
      <li><a href="https://capital.sp.gov.br/outros-%C3%B3rg%C3%A3os">Outros órgãos</a></li>
      <li><a href="https://sp156.prefeitura.sp.gov.br/portal">156</a></li>
    </ul>
  </div>
  <div class="col-6 col-md">
    <h6 class="footer-heading">Serviços para o Cidadão</h6>
    <ul class="footer-links">
      <li><a href="https://capital.sp.gov.br/web/prefeitura-de-sao-paulo/servicos/cidadao?rootCategoryId=122642&categoryId=195534">Animais</a></li>
      <li><a href="https://capital.sp.gov.br/web/prefeitura-de-sao-paulo/servicos/cidadao?rootCategoryId=122642&categoryId=182553">Casa e Moradia</a></li>
      <li><a href="https://capital.sp.gov.br/web/prefeitura-de-sao-paulo/servicos/cidadao?rootCategoryId=122642&categoryId=193794">Cultura e Economia Criativa</a></li>
      <li><a href="https://capital.sp.gov.br/web/prefeitura-de-sao-paulo/servicos/cidadao?rootCategoryId=122642&categoryId=193398">Educação</a></li>
      <li><a href="https://capital.sp.gov.br/web/prefeitura-de-sao-paulo/servicos/cidadao?rootCategoryId=122642&categoryId=194817">Esportes e Lazer</a></li>
      <li><a href="https://capital.sp.gov.br/web/prefeitura-de-sao-paulo/servicos/cidadao?rootCategoryId=122642&categoryId=185692">Família e Assistência Social</a></li>
      <li><a href="https://capital.sp.gov.br/web/prefeitura-de-sao-paulo/servicos/cidadao?rootCategoryId=122642&categoryId=190770">Fazenda</a></li>
      <li><a href="https://capital.sp.gov.br/web/prefeitura-de-sao-paulo/servicos/cidadao?rootCategoryId=122642&categoryId=188442">Mobilidade Urbana e Transporte</a></li>
      <li><a href="https://capital.sp.gov.br/web/prefeitura-de-sao-paulo/servicos/cidadao?rootCategoryId=122642&categoryId=183339">Rua e Bairro</a></li>
      <li><a href="https://capital.sp.gov.br/web/prefeitura-de-sao-paulo/servicos/cidadao?rootCategoryId=122642&categoryId=190857">Saúde e Bem-estar</a></li>
      <li><a href="https://capital.sp.gov.br/web/prefeitura-de-sao-paulo/servicos/cidadao?rootCategoryId=122642&categoryId=196305">Segurança</a></li>
      <li><a href="https://capital.sp.gov.br/web/prefeitura-de-sao-paulo/servicos/cidadao?rootCategoryId=122642&categoryId=190800">Trabalho</a></li>
    </ul>
  </div>
  <div class="col-6 col-md">
    <h6 class="footer-heading">Serviços para Empresas</h6>
    <ul class="footer-links">
      <li><a href="https://capital.sp.gov.br/web/prefeitura-de-sao-paulo/servicos/empresa?rootCategoryId=122645&categoryId=197736">Abertura de Empresas</a></li>
      <li><a href="https://capital.sp.gov.br/web/prefeitura-de-sao-paulo/servicos/empresa?rootCategoryId=122645&categoryId=197907">Alvarás, Certidões e Licenças</a></li>
      <li><a href="https://capital.sp.gov.br/web/prefeitura-de-sao-paulo/servicos/empresa?rootCategoryId=122645&categoryId=199983">Cadastros</a></li>
      <li><a href="https://capital.sp.gov.br/web/prefeitura-de-sao-paulo/servicos/empresa?rootCategoryId=122645&categoryId=201153">Consultas, Declarações e Normas</a></li>
      <li><a href="https://capital.sp.gov.br/web/prefeitura-de-sao-paulo/servicos/empresa?rootCategoryId=122645&categoryId=201903">Cursos</a></li>
      <li><a href="https://capital.sp.gov.br/web/prefeitura-de-sao-paulo/servicos/empresa?rootCategoryId=122645&categoryId=201594">Empreendedorismo</a></li>
      <li><a href="https://capital.sp.gov.br/web/prefeitura-de-sao-paulo/servicos/empresa?rootCategoryId=122645&categoryId=199248">Impostos e Taxas</a></li>
      <li><a href="https://capital.sp.gov.br/web/prefeitura-de-sao-paulo/servicos/empresa?rootCategoryId=122645&categoryId=201429">Legislação</a></li>
      <li><a href="https://capital.sp.gov.br/web/prefeitura-de-sao-paulo/servicos/empresa?rootCategoryId=122645&categoryId=200490">Licitações e Fornecedores</a></li>
      <li><a href="https://capital.sp.gov.br/web/prefeitura-de-sao-paulo/servicos/empresa?rootCategoryId=122645">Nota do Milhão</a></li>
      <li><a href="https://capital.sp.gov.br/web/prefeitura-de-sao-paulo/servicos/empresa?rootCategoryId=122645&categoryId=201813">Oportunidades</a></li>
      <li><a href="https://capital.sp.gov.br/web/prefeitura-de-sao-paulo/servicos/empresa?rootCategoryId=122645&categoryId=197769">Programas e Benefícios</a></li>
    </ul>
  </div>
  <div class="col-6 col-md">
    <h6 class="footer-heading">Serviços para o Servidor</h6>
    <ul class="footer-links">
      <li><a href="https://capital.sp.gov.br/web/prefeitura-de-sao-paulo/servidores?rootCategoryId=234537&categoryId=212939">Atendimento</a></li>
      <li><a href="https://capital.sp.gov.br/web/prefeitura-de-sao-paulo/servidores?rootCategoryId=234537&categoryId=203617">Benefícios</a></li>
      <li><a href="https://capital.sp.gov.br/web/prefeitura-de-sao-paulo/servidores?rootCategoryId=234537&categoryId=206445">Carreira</a></li>
      <li><a href="https://capital.sp.gov.br/web/prefeitura-de-sao-paulo/servidores?rootCategoryId=234537&categoryId=213140">Comunicados e Publicações</a></li>
      <li><a href="https://capital.sp.gov.br/web/prefeitura-de-sao-paulo/servidores?rootCategoryId=234537&categoryId=213638">Eventos para o Servidor</a></li>
      <li><a href="https://capital.sp.gov.br/web/prefeitura-de-sao-paulo/servidores?rootCategoryId=234537&categoryId=207796">Gestão de Pessoas</a></li>
      <li><a href="https://capital.sp.gov.br/web/prefeitura-de-sao-paulo/servidores?rootCategoryId=234537&categoryId=203260">Minhas informações</a></li>
      <li><a href="https://capital.sp.gov.br/web/prefeitura-de-sao-paulo/servidores?rootCategoryId=234537&categoryId=209051">Normas e procedimentos</a></li>
    </ul>
  </div>
  <div class="col-6 col-md">
    <h6 class="footer-heading">Acontece na cidade</h6>
    <ul class="footer-links">
      <li><a href="https://capital.sp.gov.br/noticias">Notícias</a></li>
      <li><a href="https://geosampa.prefeitura.sp.gov.br/PaginasPublicas/_SBC.aspx">Mapa de Serviços</a></li>
      <li><a href="https://legislacao.prefeitura.sp.gov.br/">Portal da Legislação</a></li>
      <li><a href="https://processos.prefeitura.sp.gov.br/Forms/Principal.aspx">Pesquisas de Processos</a></li>
      <li><a href="http://e-negocioscidadesp.prefeitura.sp.gov.br/">Licitações</a></li>
      <li><a href="https://www.prefeitura.sp.gov.br/cidade/secretarias/gestao/coordenadoria_de_bens_e_servicos__cobes/atas_de_registro_de_preco/index.php?p=24208">Ata de Registro de Preços</a></li>
      <li><a href="https://www.sptrans.com.br/busca-de-itinerarios/">Itinerários de ônibus</a></li>
    </ul>
  </div>
</div>

   <div class="footer-container text-center py-4" style="background-color: #273ff0; color: white;">
 <!-- Container geral em grid com 3 colunas: prefeitura | linha | parceiros -->
<div style="
    display: grid;
    grid-template-columns: 1fr 1px auto;
    align-items: start;
    gap: 40px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 24px;
">

  <!-- Coluna 1: Prefeitura + Codata -->
  <div>

    <!-- Logos lado a lado -->
    <div style="display: flex; align-items: center; gap: 32px; margin-bottom: 24px;">
      <a href="https://prefeitura.sp.gov.br/" target="_blank" rel="noopener">
      <img
    src="https://github.com/FernandoDorstSilva/imagens-publicas/blob/main/67ed4d18b423c93557cb4b9b_logo-prefeitura.png?raw=true"
    alt="Prefeitura de São Paulo"
    style="height: 200px; width: auto; object-fit: contain;"
  />
        </a>
  <div style="width: 2px; height: 200px; background-color: white;"></div>
        <a href="https://codata.prefeitura.sp.gov.br/" target="_blank" rel="noopener">
  <img
    src="https://raw.githubusercontent.com/FernandoDorstSilva/imagens-publicas/25e3fad688128822ab408216cab33a8eb7d255ff/logo%20codata%20negativo.svg"
    alt="Parceiro Codata"
    style="height: 200px; max-width: 300px; width: auto; object-fit: contain;"
  />
  </a>
</div>
    <!-- Texto -->
    <p style="margin: 0; font-size: 1.1em;" i18n>
      Prefeitura Municipal de São Paulo - Viaduto do Chá, 15 - Centro - CEP: 01002-020
      <br />
      © 2025 - Projeto de Código Aberto
    </p>

    <!-- Botão -->
    <div style="margin-top: 12px;">
      <a
        href="mailto:codata@prefeitura.sp.gov.br"
        class="btn btn-custom"
        style="
          background-color: white;
          color: #0056b3;
          border: 2px solid #0056b3;
          font-size: 20px;
          text-decoration: none;
          padding: 0.5rem 1rem;
          display: inline-block;
        "
      >
        Viu algo de errado? Entre em contato
      </a>
    </div>

  </div>

  <!-- Coluna 2: Linha vertical branca -->
  <div style="width: 1px; background-color: white; height: 100%;"></div>

  <!-- Coluna 3: Parceiros -->
 <div style="padding-left: 0; padding-right: 5%;">
  <!-- Título Parceiros alinhado à esquerda -->
  <h3 style="color: white; font-size: 1.5em; margin-bottom: 16px; text-align: left;">
    Parceiros
  </h3>

  <!-- Logos dos parceiros com linhas entre elas -->
  <div class="partner-logos">
    <a href="https://github.com/atlas-cli" target="_blank" rel="noopener">
    <img
      src="https://github.com/FernandoDorstSilva/imagens-publicas/blob/main/Property%201=branca.png?raw=true"
      alt="Parceiro 1"
    />
      </a>
    <div class="horizontal-line"></div>
      <a href="https://www.primata.design/" target="_blank" rel="noopener">
    <img
      src="https://raw.githubusercontent.com/FernandoDorstSilva/imagens-publicas/5087ba000a96aba045e6adcc4a73275cd81d682c/PMT-Logo.svg"
      alt="Parceiro 2"
    />
    </a>

    <div class="horizontal-line"></div>
    <a href="https://basedosdados.org/" target="_blank" rel="noopener">
     <img
        src="https://raw.githubusercontent.com/FernandoDorstSilva/imagens-publicas/9a2f0801588c2debec94e690ff12cc4f9fc85888/bd_logo_v2.svg"
        alt="Parceiro 3"
        class="logo-bd"
      />
      </a>
  </div>
</div>

</div>
</div>
    
  </div>
</footer>
