<div class="d-flex justify-content-between align-self-center">
  <h3>Cargos do sistema</h3>
  <button
    matButton="filled"
    aria-label="Adicionar cargo"
    (click)="createRole()"
  >
    <mat-icon class="material-symbols-outlined">add</mat-icon>
    Criar
  </button>
</div>
<mat-list>
  @for (item of roles(); track item.id) {
    <mat-list-item>
      <span matListItemTitle>{{ item.name }}</span>
      @if (item.description) {
        <span matListItemTitle>{{ item.description }}</span>
      }
      <span matListItemLine
        >Ações permitidas: {{ formatPermissions(item) }}</span
      >
      <span matListItemMeta>
        <button
          matIconButton
          aria-label="Remover cargo"
          (click)="editRole(item)"
        >
          <mat-icon class="material-symbols-outlined">create</mat-icon>
        </button>
      </span>
    </mat-list-item>
  }
</mat-list>
