<app-page-structure
  [title]="'pages.roles.page.title' | translate"
  [subtitle]="'pages.roles.page.subtitle' | translate"
>
  <section rightActions>
    <a
      *hasPermission="'role:create'"
      matButton="filled"
      [attr.aria-label]="
        'pages.roles.page.buttons.create.ariaLabel' | translate
      "
      (click)="createRole()"
    >
      <mat-icon class="material-symbols-outlined">add</mat-icon>
      {{ "pages.roles.page.buttons.create.title" | translate }}
    </a>
  </section>

  <div class="table-box">
    @if (dataSource.loading()) {
      <mat-progress-bar mode="indeterminate" />
    }

    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>
          {{ "pages.roles.table.columns.name" | translate }}
        </th>
        <td mat-cell *matCellDef="let role">
          {{ role.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>
          {{ "pages.roles.table.columns.description" | translate }}
        </th>
        <td mat-cell *matCellDef="let role">
          {{ role.description }}
        </td>
      </ng-container>

      <ng-container matColumnDef="allowedActions">
        <th mat-header-cell *matHeaderCellDef>
          {{ "pages.roles.table.columns.allowedActions" | translate }}
        </th>
        <td mat-cell *matCellDef="let role">
          {{ formatPermissions(role) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>
          {{ "pages.roles.table.columns.status" | translate }}
        </th>
        <td mat-cell *matCellDef="let role">
          {{ "components.shared.status." + role.status | translate }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          {{ "pages.roles.table.columns.actions" | translate }}
        </th>
        <td mat-cell *matCellDef="let role">
          <a
            *hasPermission="'role:update'"
            matIconButton
            [attr.aria-label]="
              'pages.roles.page.buttons.edit.ariaLabel' | translate
            "
            (click)="editRole(role)"
          >
            <mat-icon class="material-symbols-outlined">create</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5">
          @if (dataSource.loading()) {
            {{ "components.shared.table.loading" | translate }}
          } @else {
            {{ "pages.roles.table.noData" | translate }}
          }
        </td>
      </tr>
    </table>

    <mat-paginator
      [length]="dataSource.totalCount()"
      [pageSize]="dataSource.currentParams().limit"
      [pageIndex]="dataSource.currentParams().page - 1"
      [pageSizeOptions]="[15, 30, 50]"
      (page)="onPageChange($event)"
    />
  </div>
</app-page-structure>
