# ==============================================================================
# URBIS MAP - MOSAICO / PORTAL INSTITUCIONAL (.env.example)
# ==============================================================================

# URL da API do Urbis Map
VITE_API_URL=http://localhost:3000

# Configurações de Autenticação OIDC (OpenID Connect)
VITE_OIDC_AUTHORITY=http://localhost:3000/auth/oidc
VITE_OIDC_CLIENT_ID=0375600b-cd37-4b89-82e1-68fd374b83e8
