@use "sass:map";

[mat-subheader] {
  margin: 0px;
  font-weight: 500;
  font-size: 14px;
  padding: 8px 14px;
  color: var(--mat-sys-primary) !important;
}

mat-nav-list {
  padding: 12px;
  height: 100%;
  display: flex;
  flex-direction: column;

  .selection-footer {
    margin-top: auto;
  }
}

.mat-divider {
  margin-left: 16px;
  margin-right: 16px;
}

[mat-list-item] {
  height: 42px !important;
  border-radius: 30px !important;
  font-size: 14px;
  font-weight: 500;

  mat-icon {
    margin-right: 16px;
    margin-left: 20px;
  }

  &.active {
    background-color: var(--mat-sys-surface, transparent);
    color: var(--mat-sys-primary) !important;

    mat-icon {
      color: var(--mat-sys-primary);
    }

    * {
      color: var(--mat-sys-primary);
    }
  }

  &:hover {
    color: var(--mat-sys-primary) !important;

    mat-icon {
      color: var(--mat-sys-primary);
    }

    * {
      color: var(--mat-sys-primary);
    }
  }
}

::ng-deep {
  .mdc-list-item:focus::before {
    display: none;
  }
}
