.general-group {
  border: none 1px !important;
}

.subgroup {
  margin-top: 12px;
  border: none 1px !important;
}

.layer-group {

  .subgroup-layer-header,
  .group-layer-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .subgroup-layer-header {
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100% + 0px);

    h3 {
      font-size: 16px;
      margin: 0;
    }
  }

  .group-layer-header {
    padding: 12px;

    h3 {
      font-size: 18px;
      margin: 0;
    }
  }

  .group-layer-content-empty {
    padding: 0 4px;
    border-radius: 8px;
    background-color: #f5f5f5;
  }

  .group-layer-content {
    padding: 4px;
    border-radius: 8px;
    background-color: #fff;
  }
}