.main-button {
  position: absolute;
  z-index: 100;
  right: 6px;
  bottom: 36px;
  top: auto;
  left: auto;
}

.layer-controller {
  position: absolute;
  z-index: 1000;
  right: 46px;
  bottom: auto;
  top: 8px;
  left: auto;
  width: 400px;
  background-color: #fff;
  border-radius: 12px;
  overflow: auto;
  max-height: calc(100vh - 32px);

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: #fff;

    background-color: #fff;
    padding: 6px 8px;
    padding-left: 16px;
    border-bottom: 1px solid #efefef;

    h5 {
      margin: 0 !important;
    }
  }

  .content {
    padding: 8px 16px;
    display: grid;
    gap: 8px;
  }
}