<form [formGroup]="form" class="flex flex-col gap-6" (ngSubmit)="submit()">
  <div class="flex flex-col gap-1.5">
    <label hlmLabel for="firstName">{{
      "pages.profile.edit.personal.fields.firstName" | translate
    }}</label>
    <input
      hlmInput
      id="firstName"
      formControlName="firstName"
      [attr.aria-label]="
        'pages.profile.edit.personal.fields.firstName' | translate
      "
    />
  </div>

  <div class="flex flex-col gap-1.5">
    <label hlmLabel for="lastName">{{
      "pages.profile.edit.personal.fields.lastName" | translate
    }}</label>
    <input
      hlmInput
      id="lastName"
      formControlName="lastName"
      [attr.aria-label]="
        'pages.profile.edit.personal.fields.lastName' | translate
      "
    />
  </div>

  <lib-phone-form-group [formGroup]="form" />

  <lib-country-select [formGroup]="form" />

  <div class="flex justify-end pt-4">
    <button
      hlmBtn
      [attr.aria-label]="'pages.profile.edit.personal.buttons.save' | translate"
    >
      {{ "pages.profile.edit.personal.buttons.save" | translate }}
    </button>
  </div>
</form>
