.card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
    font-weight: bold;
}

.row-grid-image-left .card {
    display: flex !important;
    align-items: center; /* alinha verticalmente */
}
.card-cover.square {
    width: 112px;
    float: left;
    margin-right: 12px;
}

.card {
    /* border: 0px; */
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 8px;
    overflow: auto;
    transition: box-shadow 0.2s cubic-bezier(.4,0,.2,1);
}

.card:hover, .card:focus-within {
    box-shadow: 0px 5px 16px 0px rgba(33, 106, 173, 0.18), 0px 1.5px 5px 0px rgba(33, 106, 173, 0.10);
    z-index: 2;
}

mat-form-field {
    width: 100%;
}

h3.card-h.chip-tag {
    position: absolute;
    bottom: 0px;
    right: 8px;
    background: #fff !important;
    padding: 6px 8px;
    border-radius: 21px;
    font-size: 15px !important;
}

.card p {
    font-size: 0.9em !important;
}

.card-info {
    padding: 12px 16px;
    padding-bottom: 0px;
}

.card.viabiliza, .card.dados-abertos, .card.open-urbis {
  border-left: 10px solid #273FF0;
}
.card.portal-156 {
  border-left: 6px solid #ffe066;
}

.card.mapa-urbano {
  border: 1px solid #273FF0!important;
}

.urbis-header {
  font-family: 'Noto Sans', sans-serif;
  font-size: 3em;
  font-weight: 999; /* negrito mais encorpado */
  color: #273FF0;  /* azul mais vibrante */
  position: relative;
  width: 100%;
  padding-bottom: 8px;
  margin-bottom: 16px;
  letter-spacing: 0.1px;
}

.underline {
  height: 8px;
  background-color: #273ff0;
  width: 80%;
  border-radius: 4px; /* metade da altura = pontas 100% arredondadas */
  position: absolute;
  bottom: 0;
  left: 0;
}

.card ul {
    font-size: 12px !important;
    padding-left: 1.2rem; /* para alinhar as bolinhas com seu texto normal */
    margin: 0 0 8px 0;
}

.card ul li {
    margin-bottom: 4px;
}

.custom-card {
  margin-left: 3px;
  margin-right: -8px;
  margin-bottom: 8px;
  overflow: auto;
  transition: box-shadow 0.2s cubic-bezier(.4, 0, .2, 1);
  
  /* Se quiser bordas arredondadas, pode adicionar: */
  border-radius: 6px;
  border: 1px solid #ddd; /* ou a cor que quiser para a borda */
  background-color: white; /* para destacar */
  
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  color: #273FF0;
  text-decoration: none;
  border-left: 10px solid #273FF0;
}

.custom-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
}

.custom-card-cover {
  display: flex;
  align-items: center;
  gap: 6px; /* menor espaço entre linha azul e ícone */
  min-width: auto; /* permite ficar mais compacto */
}

.custom-line-blue {
  width: 6px;
  height: 36px;
  background-color: #273FF0;
  border-radius: 2px;
}

.custom-icon {
  width: 32px;
  height: 32px;
}

.custom-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.custom-card-title {
  margin: 0 0 4px 0;
  font-size: 1.20em;
  font-weight: bold;
}

.custom-card-text {
  margin: 0;
  font-size: 0.9em;
}

.custom-text-black {
  color: #000 !important;
}
