<div class="container-fluid container-xl">
    <div class="urbis-header">
        Urbis
        <div class="underline"></div>
    </div>

    <!-- Grid Principal -->
    <div class="row mt-4">
        <!-- Coluna 1: 8 unidades -->
        <div class="col-md-7">
            <!-- Linha 1: Busca Card -->
            <div class="row">
                <div class="col-12">
                    <div class="card huge">
                        <div class="d-flex flex-column gap-3 p-3">
                            <form (submit)="onSearchSubmit($event)" class="input-search-block">
                                <label class="search-title"
                                    style="font-weight: 600; font-size: 1.1em; margin-bottom: 8px; display: block;">
                                    Busca Direta:
                                </label>

                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Av. Paulista, 1578 (exemplo)</mat-label>
                                    <input matInput [(ngModel)]="searchTerm" name="search" placeholder="Ex: Paulista"
                                        required>
                                    <button type="submit" mat-icon-button matSuffix>
                                        <mat-icon>search</mat-icon>
                                    </button>
                                </mat-form-field>

                                <div class="search-instruction" style="margin-top: 8px; font-size: 0.9em; color: #555;">
  Pesquise por endereço, código tributário do imóvel (SQL, IPTU), coordenadas
  (latitude e longitude) ou nº de documento emitido pelo Viabiliza.Urbis. <br>
  <strong>Observação:</strong>
  para buscas a partir de arquivo georreferenciado, acesse o 
  <a href="https://mapa.urbis.sampa.br/" target="_blank" style="color: #273FF0; text-decoration: underline;">
    Mapa.Urbis
  </a>.
</div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Linha 2: Cards Viabiliza, Dados Abertos, OpenUrbis, etc -->
            <div class="row g-3">
                <div class="col-md-6">
                    <a href="https://viabiliza.urbis.sampa.br"
                        class="card wide gap-12 d-flex text-decoration-none viabiliza">
                        <div class="card-cover vert">
                            <div class="card-cover-color bg-primary"></div>
                        </div>
                        <div class="card-info wide gap-6">
                            <h3 class="card-h small">Viabiliza</h3>
                            <p class="card-p">Principal canal para solicitação ou análise de documentos relacionados aos
                                <strong>licenciamentos edilícios</strong>, de <strong>atividades</strong> e
                                <strong>ambientais</strong> na cidade.
                            </p>
                        </div>
                    </a>
                    <a href="https://dadosabertos.urbis.sampa.br"
                        class="card wide gap-12 d-flex text-decoration-none dados-abertos">
                        <div class="card-cover vert">
                            <div class="card-cover-color bg-primary"></div>
                        </div>
                        <div class="card-info wide gap-6">
                            <h3 class="card-h small">Dados Abertos</h3>
                            <p class="card-p">Acesse uma vasta gama de dados urbanos abertos, incluindo informações
                                sobre zoneamento, licenças e muito mais.</p>
                        </div>
                    </a>
                    <a href="https://github.com/OpenUrbis" target="_blank"
                        class="card wide d-flex text-decoration-none open-urbis">
                        <div class="card-info wide gap-6">
                            <h3 class="card-h small">OpenUrbis</h3>
                            <p class="card-p">Contribua com nosso open-source.</p>
                        </div>
                        <div class="card-cover">
                            <div class="card-cover-color bg-primary"></div>
                            <h3 class="card-h chip-tag bg-white text-primary small">GitHub</h3>
                        </div>
                    </a>
                    <a href="https://docs.urbis.sampa.br/" target="_blank"
                class="card wide d-flex text-decoration-none open-urbis">
                <div class="card-info wide gap-6">
                    <h3 class="card-h small">Docs.Urbis</h3>
                    <p class="card-p">Acesse a documentação técnica do Urbis para desenvolvedores e usuários.</p>
                </div>
                <div class="card-cover">
                    <div class="card-cover-color bg-primary"></div>

                </div>
            </a>
                </div>
                <div class="col-md-6">
                    <a href="https://urbis.sampa.br/carta-servicos" class="custom-card">
                        <div class="custom-card-cover">
                            <!-- Novo SVG com tamanho e cor iguais ao anterior -->
                            <svg xmlns="http://www.w3.org/2000/svg" height="48px" width="48px" viewBox="0 -960 960 960"
                                fill="#273FF0">
                                <path
                                    d="M300-286q12 0 21-9t9-21q0-12-9-21t-21-9q-12 0-21 9t-9 21q0 12 9 21t21 9Zm0-164q12 0 21-9t9-21q0-12-9-21t-21-9q-12 0-21 9t-9 21q0 12 9 21t21 9Zm0-164q12 0 21-9t9-21q0-12-9-21t-21-9q-12 0-21 9t-9 21q0 12 9 21t21 9Zm132 328h244v-60H432v60Zm0-164h244v-60H432v60Zm0-164h244v-60H432v60ZM180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h600q24 0 42 18t18 42v600q0 24-18 42t-42 18H180Zm0-60h600v-600H180v600Zm0-600v600-600Z" />
                            </svg>
                        </div>

                        <div class="custom-card-info custom-text-black">
                            <h3 class="custom-card-title">
                                Carta de Serviços urbanísticos, ambientais e culturais
                            </h3>
                            <p class="custom-card-text">
                                Veja onde solicitar autorizações, licenças, certidões etc.
                            </p>
                        </div>
                    </a>
                    <a href="https://urbis.sampa.br/info.urbis" class="custom-card">
                        <div class="custom-card-cover">

                            <!-- SVG ajustado com viewBox corrigido e fill azul -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 960 960"
                                fill="#273FF0">
                                <path
                                    d="M120 840v-558h247v-92l113-110 113 110v258h247v392H120Zm60-60h106v-106H180v106Zm0-166h106v-106H180v106Zm0-166h106v-106H180v106Zm247 332h106v-106H427v106Zm0-166h106v-106H427v106Zm0-166h106v-106H427v106Zm0-166h106v-106H427v106Zm247 498h106v-106H674v106Zm0-166h106v-106H674v106Z" />
                            </svg>
                        </div>

                        <div class="custom-card-info custom-text-black">
                            <h3 class="custom-card-title">Legislação urbanística:</h3>
                            <ul class="custom-card-text" style="padding-left: 1.2rem; margin: 0;">
                                <li>Lei de Parcelamento, Uso e Ocupação do Solo - LPUOS</li>
                                <li>Código de Obras e Edificações - COE</li>
                                <li>+informações sobre legislação urbanística - +info.Urbis</li>
                            </ul>
                        </div>
                    </a>
                    <a href="https://urbis.sampa.br/pt/licencas" class="custom-card">
                        <div class="custom-card-cover">
                            <!-- SVG ajustado com viewBox corrigido e fill azul -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="48px" height="48px" viewBox="0 0 960 960"
                                fill="#273FF0">
                                <path
                                    d="M120 879v-798l60 60 60-60 60 60 60-60 60 60 60-60 60 60 60-60 60 60 60-60 60 60 60-60v798l-60-60-60 60-60-60-60 60-60-60-60 60-60-59.85L360 879l-60-59.85L240 879l-60-59.85L120 879Zm117-215h490v-60H237v60Zm0-154h490v-60H237v60Zm0-155h490v-60H237v60Zm-57 423h600v-596H180v596Zm0-596v596-596Z" />
                            </svg>
                        </div>

                        <div class="custom-card-info custom-text-black">
                            <h3 class="custom-card-title">Informações sobre licenças emitidas e denúncias</h3>
                            <p class="custom-card-text">
                                Veja onde encontrar informações sobre autorizações, licenças etc. e denunciar
                                irregularidades.
                            </p>
                        </div>
                    </a>

                </div>
            </div>
        </div>

        <!-- Coluna 2: Mapa Urbano + "+Info" -->
        <div class="col-md-5 d-flex flex-column gap-3">
            <a href="https://mapa.urbis.sampa.br" class="card border d-block text-decoration-none mapa-urbano">
                <div class="card-cover">
                    <h3 class="card-h chip-tag small bg-white text-primary">Mapa.urbis</h3>
                    <img src="/images/sp-here-map.webp" alt="Mapa Urbano" class="img-fluid">
                </div>
            </a>

            <a href="https://datalake.urbis.sampa.br/" target="_blank"
                class="card wide d-flex text-decoration-none open-urbis">
                <div class="card-info wide gap-6">
                    <h3 class="card-h small">Data lake</h3>
                    <p class="card-p">Acesse o nosso datalake (apenas uso interno)</p>
                </div>
                <div class="card-cover">
                    <div class="card-cover-color bg-primary"></div>

                </div>
            </a>
        </div>
    </div>

    <!-- FAQ + Novidades -->
    <div class="row mt-4">
        <!-- FAQ -->
        <div class="col-md-8">
            <div class="card huge p-2">
                <div class="p-3">
                    <h4 class="side-tab-h4 position-sticky top-0 mb-4">Perguntas Frequentes:</h4>
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>O que é o Data Urbs?</mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>O Data Urbs é um projeto de software open source focado em urbanismo para a cidade de São
                                Paulo.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Como posso contribuir para o projeto?</mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>Você pode contribuir reportando bugs, sugerindo funcionalidades ou desenvolvendo código
                                no GitHub.</p>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Onde encontro mais dados sobre urbanismo?</mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>Além do Data Urbs, consulte o Plano Diretor, o Código de Obras e o site da Prefeitura de
                                São Paulo.</p>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>

        <!-- Novidades -->
        <div class="col-md-4">
            <div class="card p-3 position-sticky top-0">
                <div class="d-flex align-items-center gap-2 bg-white position-sticky top-0">
                    <mat-icon class="text-primary">rss_feed</mat-icon>
                    <h4 class="side-tab-h4">Novidades</h4>
                </div>
                <div class="d-flex flex-column gap-3 mt-3">
                    <div class="card wide small gap-12 d-flex">
                        <div class="card-cover vert">
                            <div class="card-cover-color bg-white"></div>
                        </div>
                        <div class="card-info wide">
                            <h3 class="card-h tiny">Atualizações do Data Urbs</h3>
                            <p class="card-p">Fique por dentro das últimas novidades e melhorias no projeto Data Urbs.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>