.left-nav {
    position: absolute;
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
    z-index: 1000;
    width: 364px;
    height: 100%;
    overflow: auto;
    z-index: 10000;
}