<h2 mat-dialog-title>{{ title }}</h2>
<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content class="w-100">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{ "pages.roles.form.fields.name" | translate }}</mat-label>
      <input
        matInput
        [placeholder]="'pages.roles.form.fields.name' | translate"
        [attr.aria-label]="'pages.roles.form.fields.name' | translate"
        formControlName="name"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>{{
        "pages.roles.form.fields.description" | translate
      }}</mat-label>
      <input
        matInput
        [placeholder]="'pages.roles.form.fields.description' | translate"
        [attr.aria-label]="
          'pages.roles.form.fields.description' | translate
        "
        formControlName="description"
      />
    </mat-form-field>

    <mat-form-field class="w-100 d-flex flex-column" appearance="outline">
      <mat-label>{{
        "pages.roles.form.fields.permissions" | translate
      }}</mat-label>

      <mat-chip-grid
        #chipGrid
        class="w-100"
        [attr.aria-label]="
          'pages.roles.form.permissions.selectedAria' | translate
        "
      >
        <input
          type="text"
          matInput
          class="w-100 mt-2"
          #permissionInputSearch
          [formControl]="searchPermissions"
          [matAutocomplete]="permissionInputAuto"
          [matChipInputFor]="chipGrid"
          [placeholder]="'pages.roles.form.placeholders.permissions' | translate"
          [attr.aria-label]="
            'pages.roles.form.placeholders.permissions' | translate
          "
        />
      </mat-chip-grid>
      <mat-autocomplete
        #permissionInputAuto="matAutocomplete"
        (optionSelected)="
          addPermission($event); permissionInputSearch.value = ''
        "
      >
        @for (option of permissions(); track option.id) {
          <mat-option [value]="option">
            {{ option.name }}
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <mat-card>
      <mat-card-header>
        <h5 matCardTitle>
          {{ "pages.roles.form.selectedTitle" | translate }}
        </h5>
      </mat-card-header>
      <mat-card-content>
        @if (!selectedPermissions().length) {
          <p class="text-center w-100 my-5">
            {{ "pages.roles.form.selectedEmpty" | translate }}
          </p>
        }

        <mat-list>
          @for (
            item of selectedPermissions();
            track item.id;
            let index = $index;
            let isLast = $last
          ) {
            <mat-list-item class="my-3">
              <span
                matListItemTitle
                [matTooltip]="item.name"
                [ariaLabel]="item.name"
              >
                {{ item.name }}
              </span>
              @if (item.description) {
                <span
                  matListItemLine
                  [matTooltip]="item.description"
                  [ariaLabel]="item.description"
                >
                  {{ item.description }}
                </span>
              }
              <span matListItemMeta class="py-1">
                <mat-form-field appearance="outline">
                  <mat-label>{{
                    "pages.roles.form.fields.scope" | translate
                  }}</mat-label>
                  <mat-select
                    [value]="item.scope"
                    (selectionChange)="changeScope(index, $event)"
                    [attr.aria-label]="
                      'pages.roles.form.fields.scope' | translate
                    "
                  >
                    <mat-option value="global">
                      {{ "pages.roles.form.scopeOptions.global" | translate }}
                    </mat-option>
                    <mat-option value="any">
                      {{ "pages.roles.form.scopeOptions.any" | translate }}
                    </mat-option>
                    <mat-option value="own">
                      {{ "pages.roles.form.scopeOptions.own" | translate }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </span>
            </mat-list-item>
            @if (!isLast) {
              <mat-divider />
            }
          }
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-dialog-content>

  <mat-dialog-actions class="d-flex gap-2">
    <button
      matButton="outlined"
      type="button"
      mat-dialog-close
      [attr.aria-label]="'pages.roles.form.buttons.cancel' | translate"
    >
      {{ "pages.roles.form.buttons.cancel" | translate }}
    </button>

    <lib-loading-button
      [loading]="loading()"
      [attr.aria-label]="'pages.roles.form.buttons.save' | translate"
    >
      {{ "pages.roles.form.buttons.save" | translate }}
    </lib-loading-button>
  </mat-dialog-actions>
</form>
