@use '../../../../../../projects/shared/src/theme/components/card/variants.scss';

:host {

  h2,
  h5 {
    color: var(--mat-sys-primary);
  }

  p {
    font-size: 18px;
  }
}

.mat-mdc-list-item-title {
  color: var(--mat-sys-primary) !important;
  font-weight: 600 !important;

  &:hover {
    color: var(--mat-sys-primary) !important;
    font-weight: 600 !important;
  }
}
