@use "sass:map";
@use "./../../../../projects/shared/src/theme/themes/colors.new" as *;

$leftMenuWidth: 80px;

.left-menu {
  width: $leftMenuWidth;
  background: var(--mat-sys-surface-container-low);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 16px 0;
}

.application {
  height: 100%;

  .sidenav {
    width: 240px;
    background-color: var(--mat-sys-surface-container-lowest);
  }

  .drawer-container {
    height: 100%;

    .drawer-content {
      background-color: var(--mat-sys-surface-container-lowest);
    }
  }
}
