// src/styles/components/button/_variants.scss

@use "sass:map";
@use "sass:meta";
@use "@angular/material" as mat;

mat-card.mat-mdc-card {
  box-shadow: none !important;
  background-color: var(--mat-sys-surface);
  border: 1px solid var(--mat-sys-outline-variant) !important;
}
