:root {
  /* Light - M3 */
  --background: 210 50% 98%; /* #F6FAFE */
  --foreground: 210 14% 11%; /* #181C20 */

  --card: 210 33% 96%; /* #F0F4F8 (Surface Container Low) */
  --card-foreground: 210 14% 11%;

  --popover: 0 0% 100%; /* #FFFFFF (Surface Container Lowest) */
  --popover-foreground: 210 14% 11%;

  --primary: 201 61% 33%; /* #216487 */
  --primary-foreground: 0 0% 100%; /* #FFFFFF */

  --secondary: 205 16% 37%; /* #4F616E */
  --secondary-foreground: 0 0% 100%; /* #FFFFFF */

  --muted: 212 23% 89%; /* #DDE3EA (Surface Variant) */
  --muted-foreground: 210 8% 28%; /* #41474D (On Surface Variant) */

  --accent: 125 30% 32%; /* #38693C (Tertiary) - Using Tertiary as Accent */
  --accent-foreground: 0 0% 100%; /* #FFFFFF */

  --destructive: 0 75% 42%; /* #BA1A1A */
  --destructive-foreground: 0 0% 100%; /* #FFFFFF */

  --border: 212 11% 78%; /* #C1C7CE (Outline Variant) */
  --input: 212 11% 78%;
  --ring: 201 61% 33%; /* Primary */

  --radius: 1rem;
  
  /* --app-logo: url('http://localhost:5174/geocultural.svg'); */
}

.urbis-logo {
  content: var(--app-logo);
}

.dark {
  /* Dark - M3 */
  --background: 206 18% 8%; /* #101417 */
  --foreground: 210 14% 89%; /* #DFE3E7 */

  --card: 202 13% 12%; /* #1B2023 (Surface Container) */
  --card-foreground: 210 14% 89%;

  --popover: 202 29% 5%; /* #0A0F12 (Surface Container Lowest) */
  --popover-foreground: 210 14% 89%;

  --primary: 204 83% 77%; /* #92CEF5 */
  --primary-foreground: 200 100% 15%; /* #00344C */

  --secondary: 206 28% 78%; /* #B6C9D8 */
  --secondary-foreground: 205 30% 19%; /* #21323E */

  --muted: 210 8% 28%; /* #41474D (Surface Variant) */
  --muted-foreground: 212 11% 78%; /* #C1C7CE (On Surface Variant) */

  --accent: 119 41% 73%; /* #9ED49D (Tertiary) */
  --accent-foreground: 137 90% 12%; /* #033912 */

  --destructive: 6 100% 84%; /* #FFB4AB */
  --destructive-foreground: 357 100% 21%; /* #690005 */

  --border: 210 8% 28%; /* #41474D (Outline Variant) */
  --input: 210 8% 28%;
  --ring: 204 83% 77%;
  /* --app-logo: url('http://localhost:5174/geocultural_dark.svg'); */
}
