.map-legend-main-button {
  position: absolute;
  z-index: 8;
  left: 6px;
  bottom: 36px;
}

.map-legend {
  position: absolute;
  z-index: 1000;
  left: 8px;
  bottom: 36px;
  top: auto;
  right: auto;
  width: 324px;
  max-width: calc(100% - 12px);
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
  overflow: auto;
  max-height: 66vh;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: #fff;

    background-color: #fff;
    padding: 6px 8px;
    padding-left: 16px;
    border-bottom: 1px solid #efefef;
    
    h5 {
      font-size: 16px;
      margin: 0 !important;
    }

  }
  .mdc-select {
    max-width: 100%;
  }
  .content {
    padding: 8px 12px;
    display: grid;
    gap: 4px;

    .layer-legend-item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
      padding: 6px 0px;

      .color {
        width: 20px;
        height: 20px;
      }

      .pattern {
        mask-image: url('/pattern.png');
        -webkit-mask-image: url('/pattern.png');
      }

      .hatch-1x {
        mask-size: 200% 200%;
        mask-position: 0 0;
        /* Quadrante superior esquerdo */
        mask-repeat: repeat;

        -webkit-mask-size: 200% 200%;
        -webkit-mask-position: 0 0;
        -webkit-mask-repeat: repeat;
      }

      /* Esquerda inferior: hatch-cross (quadrante inferior esquerdo) */
      .hatch-cross {
        mask-size: 200% 200%;
        mask-position: 0 100%;
        /* Quadrante inferior esquerdo */
        mask-repeat: repeat;

        -webkit-mask-size: 200% 200%;
        -webkit-mask-position: 0 100%;
        -webkit-mask-repeat: repeat;
      }

      /* Direita superior: full (quadrante superior direito) */
      .full {
        mask-size: 200% 200%;
        mask-position: 100% 0;
        /* Quadrante superior direito */
        mask-repeat: repeat;

        -webkit-mask-size: 200% 200%;
        -webkit-mask-position: 100% 0;
        -webkit-mask-repeat: repeat;
      }

      /* Direita inferior: dots (quadrante inferior direito) */
      .dots {
        mask-size: 200% 200%;
        mask-position: 100% 100%;
        /* Quadrante inferior direito */
        mask-repeat: repeat;

        -webkit-mask-size: 200% 200%;
        -webkit-mask-position: 100% 100%;
        -webkit-mask-repeat: repeat;
      }

      .label {
        margin: 0 8px;
        color: black;
        font-size: 14px;
      }
    }

    .rmwc-select__default-width {
      width: 100% !important;
    }


  }
}