.search-card {
  border-radius: 16px;
  margin: 6px 8px;

  .search-card-container {
    padding: 8px;
  }

  span.text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: normal;
  }

  .mdc-fab {
    background-color: #FFFFFF !important;

    .mdc-fab__icon {
      color: #007bff !important;
    }
  }
}

.search-placeholder {
  margin-top: 8px;
  margin-bottom: 0;
}