# ==============================================================================
# URBIS MAP - ACCOUNTS (GERENCIADOR DE IDENTIDADES E CONTAS) (.env.example)
# ==============================================================================
# Este aplicativo Angular consome variáveis através do arquivo src/environments/
# mas documenta aqui as configurações padrão de integração.
# ==============================================================================

# URL da API do Urbis Map
API_URL=http://localhost:3000

# Client ID da aplicação no OIDC
APP_CLIENT_ID=0375600b-cd37-4b89-82e1-68fd374b83e8

# OIDC Externo (Gov.br)
EXTERNAL_OIDC_CLIENT_ID=h-urbis.prefeitura.sp.gov.br
EXTERNAL_OIDC_AUTHORITY=https://sso.staging.acesso.gov.br

# Google reCAPTCHA v3 Site Key (Público)
GOOGLE_RECAPTCHA_SITE_KEY=6LfwDx4sAAAAABrm5sINZvaY9Fq3pFttsX-wikjG

# Storage público e Docs
S3_ENDPOINT_PUBLIC=http://localhost:9000/public
DOCS_ENDPOINT=http://localhost:3010
