@use "sass:map";
@use  "@angular/material" as mat;
@use  "./_colors" as colors;

$slingui-primary-pallete: mat.m2-define-palette(colors.$primary-palette, 700);
$slingui-secondary-pallete: mat.m2-define-palette(colors.$secondary-palette, 400);

$slingui-error-pallete: mat.m2-define-palette(colors.$error-palette);
$slingui-success-pallete: mat.m2-define-palette(colors.$success-palette);
$slingui-info-pallete: mat.m2-define-palette(mat.$m2-blue-palette);

$slingui-light-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $slingui-primary-pallete,
      secondary: $slingui-secondary-pallete,
      // accent is equal to secondary
      accent: $slingui-secondary-pallete,
      warn: $slingui-error-pallete,
      success: $slingui-success-pallete,
    ),
    density: 0,
  )
);

@include mat.strong-focus-indicators-theme($slingui-light-theme);

$slingui-light-variants: (
  success: $slingui-success-pallete,
  info: $slingui-info-pallete,
);
