// src/styles/themes/dark.scss

@use "sass:map";
@use "@angular/material" as mat;
@use "./_colors" as colors;
@use "./../components";
@use "./../typography/config" as typography;

$mat-primary-pallete: mat.m2-define-palette(colors.$primary-palette, 100);
$mat-secondary-pallete: mat.m2-define-palette(colors.$secondary-palette, 100);

$mat-error-pallete: mat.m2-define-palette(colors.$error-palette, 200);
$mat-success-pallete: mat.m2-define-palette(colors.$secondary-color, 100);
$mat-info-pallete: mat.m2-define-palette(mat.$m2-blue-palette, 100);

$mat-dark-theme: mat.m2-define-dark-theme((color: (primary: $mat-primary-pallete,
        secondary: $mat-secondary-pallete,
        accent: $mat-secondary-pallete,
        warn: $mat-error-pallete,
        success: $mat-success-pallete,
      ),
    ),
  );

$mat-dark-variants: (
  success: $mat-success-pallete,
  info: $mat-info-pallete,
);

$mat-dark-background: (
  status-bar:colors.$surface-dark,
  app-bar: colors.$surface-dark-1,
  background: colors.$surface-dark-1,
  hover: colors.$surface-dark,
  // TODO(kara): check style with Material Design UX
  card: colors.$surface-dark,
  dialog: colors.$surface-dark-3,
  disabled-button: map.get(colors.$neutral-variant-palette, 800),
  raised-button: map.get(colors.$neutral-variant-palette, 900),
  disabled-button-toggle: map.get(colors.$neutral-variant-palette, 900),
  unselected-chip: colors.$surface-dark-1,
  disabled-list-option: map.get(colors.$neutral-variant-palette, 800),
  tooltip: colors.$surface-dark-3,
);

@function modify-background($theme, $mat-background) {
  // Replace the background in the color object's background palette.
  $theme-color: map.get($theme, color);

  // Merge the changes into a new theme.
  $modified-theme-color: map-merge($theme-color, (background: $mat-background));
  $modified-theme: map-merge($theme, (color: $modified-theme-color));

  @return $modified-theme;
}

$mat-dark-theme: modify-background($mat-dark-theme, $mat-dark-background);

.dark-theme {
  // define core theme and set colors to all components
  @include mat.all-component-themes($mat-dark-theme);
  //@include mat.core-theme($mat-dark-theme);

  // components index import and run theme
  @include components.theme($mat-dark-theme,
    typography.$my-app-typography,
    $mat-dark-variants,
  );
}
