.mat-mdc-list-item-title {
  color: var(--mat-sys-primary) !important;
  font-weight: 600 !important;

  &:hover {
    color: var(--mat-sys-primary) !important;
    font-weight: 600 !important;
  }
}

.mat-mdc-list-item-line {
  color: var(--mat-sys-secondary);
}

.mat-mdc-list-item-meta {
  padding-top: 1.5%;
}
