<section class="hero">
    <div class="container">
        <div class="content">
            <h1 class="title" i18n>
                Fluxos e mapas inteligentes para gestão pública
            </h1>
            <p class="description" i18n>
                Agilize suas solicitações, decida com precisão e viabilize soluções utilizando uma plataforma open source com análise espacial, dados abertos e um portal da informação.
            </p>
            <div class="d-flex justify-content-center">
                <a nav-item nav-link mat-flat-button href="https://mapa.slui.dev" color="primary"
                    class="button-action">
                    <mat-icon translate="no" class="material-symbols-outlined">
                        arrow_forward
                    </mat-icon>
                    <span i18n>Testar Mapa</span>
                </a>
            </div>
        </div>
        <!-- <div  (click)="toogle()" class="features-preview" aria-label="Features preview">
            <video (ended)="ended.set(true)" #videoPlayer poster="/assets/images/video-thumbnail.webp">
                <source src="/assets/video.webm" type="video/webm">
                Your browser does not support the video tag.
            </video>    
            @if(ended()===false) {

            <button *ngIf="!status()" mat-stroked-button class="play-button">
                <mat-icon translate="no" class="material-symbols-outlined">play_arrow</mat-icon>
                Assitir
            </button>
        } @else {
            <button mat-stroked-button class="play-button replay-button">
                <mat-icon translate="no" class="material-symbols-outlined">play_arrow</mat-icon>
                Ver novamente
            </button>
        }
        </div> -->
    </div>
</section>