<lib-loading-content [loading]="contentLoading()">
  @if (step() === 0) {
    <form [formGroup]="form" (ngSubmit)="setup()">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Código</mat-label>
        <input matInput placeholder="Código" [formControl]="emailOtp" />
      </mat-form-field>

      <div class="d-flex justify-content-end gap-2">
        <lib-loading-button
          [loading]="resendLoading()"
          apperance="outlined"
          [disabled]="resendCount() !== 0"
          type="button"
          (click)="sendCode(true)"
        >
          Reenviar Código
          @if (resendCount() > 0) {
            ({{ resendCount() }}s)
          }
        </lib-loading-button>
        <lib-loading-button [loading]="loading()">Validar</lib-loading-button>
      </div>
    </form>
  } @else if (step() === 1 && qrcode()) {
    <h4>Escaneie o QR Code</h4>
    <p style="max-width: 400px">
      Utilize o Google Authenticator ou similar, escaneie o QR Code a baixo e
      insira o código que aparecer no app
    </p>
    <div class="d-flex flex-column align-items-center">
      <img [src]="qrcode()" class="mb-4 w-50" />

      @if (accessToken()) {
        <app-two-factor-verify class="w-50" [accessToken]="accessToken()" />
      }
    </div>
  }
</lib-loading-content>
