body {
  font-size: 18px;
  max-width: 40em;
  margin: auto;
  font-family: 'Lato', Helvetica, sans-serif;
}

blockquote {
  background: #fcef8d;
  border: 1px solid #c4a000;
  padding: 0.5em 1em;
}

/*
     FILE ARCHIVED ON 10:16:07 Jul 16, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:54:52 Aug 05, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.574
  captures_list: 0.505
  exclusion.robots: 0.039
  exclusion.robots.policy: 0.028
  esindex: 0.009
  cdx.remote: 11.614
  LoadShardBlock: 108.129 (3)
  PetaboxLoader3.datanode: 93.73 (5)
  PetaboxLoader3.resolve: 92.419 (2)
  load_resource: 84.877
  loaddict: 23.784
*/