@if (multi()) {
  <mat-form-field class="example-chip-list" appearance="outline" class="w-100">
    <mat-label>{{
      "components.roleSelector.labels.multiple" | translate
    }}</mat-label>
    <mat-chip-grid
      #chipGrid
      [attr.aria-label]="'components.roleSelector.aria.select' | translate"
    >
      @for (role of selectedRoles(); track role.id; let index = $index) {
        <mat-chip-row (removed)="remove(index)">
          {{ role.name }}
          <button
            matChipRemove
            [attr.aria-label]="
              'components.roleSelector.aria.remove'
                | translate: { name: role.name }
            "
          >
            <mat-icon class="material-symbols-outlined">cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
    </mat-chip-grid>
    <input
      name="currentRole"
      [placeholder]="
        'components.roleSelector.placeholders.search' | translate
      "
      [attr.aria-label]="
        'components.roleSelector.placeholders.search' | translate
      "
      #roleInput
      [formControl]="search"
      [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event); roleInput.value = ''"
    >
      @for (role of roles(); track role) {
        <mat-option [value]="role">{{ role.name }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
} @else {
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>{{
      "components.roleSelector.labels.single" | translate
    }}</mat-label>
    <input
      type="text"
      matInput
      [formControl]="search"
      [matAutocomplete]="auto"
      [attr.aria-label]="
        'components.roleSelector.labels.single' | translate
      "
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayFn"
      (optionSelected)="selected($event)"
    >
      @for (option of roles(); track option.id) {
        <mat-option [value]="option">{{ option.name }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
}
