@if (multi()) {
  <mat-form-field class="example-chip-list" appearance="outline" class="w-100">
    <mat-label>{{
      "components.permissionSelector.labels.multiple" | translate
    }}</mat-label>
    <mat-chip-grid
      #chipGrid
      [attr.aria-label]="
        'components.permissionSelector.aria.select' | translate
      "
    >
      @for (
        permission of selectedPermissions();
        track permission.id;
        let index = $index
      ) {
        <mat-chip-row (removed)="remove(index)">
          {{ permission.name }}
          <button
            matChipRemove
            [attr.aria-label]="
              'components.permissionSelector.aria.remove'
                | translate: { name: permission.name }
            "
          >
            <mat-icon class="material-symbols-outlined">cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
    </mat-chip-grid>
    <input
      name="currentPermission"
      [placeholder]="
        'components.permissionSelector.placeholders.search' | translate
      "
      [attr.aria-label]="
        'components.permissionSelector.placeholders.search' | translate
      "
      #permissionInput
      [formControl]="search"
      [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event); permissionInput.value = ''"
    >
      @for (permission of permissions(); track permission) {
        <mat-option [value]="permission">{{ permission.name }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
} @else {
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>{{
      "components.permissionSelector.labels.single" | translate
    }}</mat-label>
    <input
      type="text"
      matInput
      [formControl]="search"
      [matAutocomplete]="auto"
      [attr.aria-label]="
        'components.permissionSelector.labels.single' | translate
      "
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayFn"
      (optionSelected)="selected($event)"
    >
      @for (option of permissions(); track option.id) {
        <mat-option [value]="option">{{ option.name }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
}
