<form [formGroup]="form" class="profile-form" (ngSubmit)="submit()">
  <mat-form-field appearance="outline">
    <mat-label>{{
      "pages.profile.edit.password.fields.currentPassword" | translate
    }}</mat-label>
    <input
      matInput
      formControlName="oldPassword"
      type="password"
      [attr.aria-label]="
        'pages.profile.edit.password.fields.currentPassword' | translate
      "
    />
  </mat-form-field>

  <lib-password-form-group [formGroup]="form" />

  <button
    matButton="filled"
    [attr.aria-label]="'pages.profile.edit.password.buttons.save' | translate"
  >
    {{ "pages.profile.edit.password.buttons.save" | translate }}
  </button>
</form>
