<form [formGroup]="form" class="profile-form" (ngSubmit)="submit()">
  <mat-form-field>
    <mat-label>Senha atual</mat-label>
    <input matInput formControlName="oldPassword" type="password" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nova senha</mat-label>
    <input matInput formControlName="password" type="password" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Confirme a senha</mat-label>
    <input matInput formControlName="repeatPassword" type="password" />
  </mat-form-field>

  <button matButton="filled">Salvar</button>
</form>
