.helper-container {
  .helper {
    width: 90% !important;
    position: absolute !important;
    left: 5% !important;
    top: 50px !important;
  }

  .mdc-tooltip-wrapper--rich {
    position: unset !important;
  }
}