NODE_ENV=development
APP_PORT=3000
APP_NAME="Urbis Map"
API_PREFIX=api
APP_FALLBACK_LANGUAGE=en
APP_HEADER_LANGUAGE=x-custom-lang
FRONTEND_DOMAIN=http://localhost:4200
BACKEND_DOMAIN=http://localhost:3000
SWAGGER_ENABLED=true
I18N_DIRECTORY=src/i18n

DATABASE_TYPE=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=urbis
DATABASE_SYNCHRONIZE=false
DATABASE_MAX_CONNECTIONS=100
DATABASE_SSL_ENABLED=false
DATABASE_REJECT_UNAUTHORIZED=false

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password
REDIS_DB=1

AUTH_SECRET=secret
AUTH_API_KEY=secret
AUTH_SESSION_TABLE=session

MAIL_SENDGRID_API_KEY=
MAIL_TEMPLATES_PATH=src/common/mail/templates
MAIL_FROM=info@example.com

TWO_FACTORY_APP_NAME=UrbisAccount
TWO_FACTORY_SECRET="a27d0702331e500fa9be21baf002fe1f486b6ebee81a122fd6b1057eeadc6566"

GEOSERVER_URL='https://geoserver.slui.dev/geoserver'
GEOSERVER_USER='dagster'
GEOSERVER_PASSWORD=

MAXAR_API_KEY=

EXTERNAL_OIDC_JWKS_URI=https://sso.staging.acesso.gov.br/jwks

AWS_ACCESS_KEY=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin123
AWS_S3_REGION=us-east-1
AWS_S3_ENDPOINT=http://localhost:9000
AWS_S3_PRIVATE_BUCKET=private
AWS_S3_PUBLIC_BUCKET=public

GOOGLE_RECAPTCHA_SECRET_KEY=
GOOGLE_GENERATIVE_AI_API_KEY=
